
<div class="links">
  <button class="standingBtn" type="button" name="button" ng-click="getTablesEngland()">England</button>
  <button class="standingBtn" type="button" name="button" ng-click="getTablesFrance()">France</button>
  <button class="standingBtn" type="button" name="button" ng-click="getTables()">German</button>
  <button class="standingBtn" type="button" name="button" ng-click="getTablesSpain()">Spain</button>
  <button class="standingBtn" type="button" name="button" ng-click="getTablesItaly()">Italy</button>


</div>
<hr>
<center><h1>{{leagueTitle}}</h1>
  <br>
<div class="table-container" ng-repeat="standing in standings">
<img id="tableImg" src="{{standing.crestURI}}" alt="" /><br>
<h4 id="standingStats">{{standing.position}} <br> {{standing.teamName}} <br> {{standing.points}} <br> {{standing.goalDifference}}
 </h4>
</div>
